<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>releva.nz Settings</title>
        <title lang="de-DE">releva.nz Einstellungen</title>
        <component name="releva-config-check-api-button">
            <name>relevanzApiKey</name>
            <label>API-Key</label>
            <label lang="de-DE">API Schlüssel</label>
            <scopeErrorMessage>Api Key is only configurable with selected Storefront-sales-channel.</scopeErrorMessage>
            <scopeErrorMessage lang="de-DE">Api Key ist nur mit ausgewählten Storefront-Verkaufskanal konfigurierbar.</scopeErrorMessage>
            <scope>storefront</scope>
        </component>
        <!--
            cannot use input-field after component-node
            @link https://issues.shopware.com/issues/NEXT-8104
        -->
        <component name="sw-text-field">
            <name>relevanzUserId</name>
            <label>User-ID</label>
            <label lang="de-DE">Benutzer ID</label>
            <helpText>User-ID will be setted after API-Key-Validation.</helpText>
            <helpText lang="de-DE">Benutzer ID wird nach der API Schlüssel Validierung gefüllt.</helpText>
            <disabled>true</disabled>
            <scope>storefront</scope>
        </component>
    </card>
    <card>
        <title>releva.nz Tracking</title>
        <input-field type="bool">
            <name>trackingActive</name>
            <label>Activate Tracking</label>
            <label lang="de-DE">Tracking aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>