<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>releva.nz Settings</title>
        <title lang="de-DE">releva.nz Einstellungen</title>
        <component name="releva-config-check-api-button">
            <name>relevanzApiKey</name>
            <label>API-Key</label>
            <label lang="de-DE">API Schlüssel</label>
            <scopeMessage>Api Key is only configurable with selected sales-channel.</scopeMessage>
            <scopeMessage lang="de-DE">Api Schlüssel ist nur mit ausgewählten Verkaufskanal konfigurierbar.</scopeMessage>
            <!--<scope>storefront</scope>-->
        </component>
        <!--
            cannot use input-field after component-node
            @link https://issues.shopware.com/issues/NEXT-8104
        -->
        <component name="sw-text-field">
            <name>relevanzUserId</name>
            <label>User-ID</label>
            <label lang="de-DE">Benutzer ID</label>
            <helpText>User-ID will be setted after API-Key-Validation.</helpText>
            <helpText lang="de-DE">Benutzer ID wird nach der API Schlüssel Validierung gefüllt.</helpText>
            <disabled>true</disabled>
            <scope>storefront</scope>
        </component>
        <component name="sw-textarea-field">
            <name>additionalHtml</name>
            <label>Additional HTML</label>
            <label lang="de-DE">Zusätzliches HTML</label>
            <helpText><![CDATA[If you doesn't use shopware cookie consent manager, you can define alternative cookie check here.<br><br>Example: <p style="color:silver;"><p style="color:silver;">&lt;script&gt<br>/* Pixels will included without any cookie check */<br>var relevanzRetargetingForcePixel = true;&lt;<br>/script&gt;</p>]]></helpText>
            <helpText lang="de-DE"><![CDATA[Wenn sie nicht den Shopware-Cookie-Consent-Manager nutzen, können sie hier einen alternativen Cookie-Check machen.<br><br>Beispiel: <p style="color:silver;">&lt;script&gt<br>/* Pixels will included without any cookie check */<br>var relevanzRetargetingForcePixel = true;<br>&lt;/script&gt;</p>]]></helpText>
            <scope>storefront</scope>
            <placeholder><![CDATA[<script>var relevanzRetargetingForcePixel = true;</script>]]>></placeholder>
        </component>
    </card>
    <card>
        <title>releva.nz Tracking</title>
        <input-field type="bool">
            <name>trackingActive</name>
            <label>Activate Tracking</label>
            <label lang="de-DE">Tracking aktivieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>