<mt-text-field
    v-if="salesChannel"
    v-bind="$attrs"
    :model-value="compatValue"
    @update:model-value="handleUpdateModelValue"
></mt-text-field>
<div v-else-if="!deprecated" class="releva-api-key-scope-message">
    {{ scopeMessage }}
</div>
