{% block releva_retargeting_statistic %}
    <sw-page class="releva-retargeting-statistic">
        <template slot="smart-bar-actions">
            {% block releva_retargeting_statistic_actions %}
                <sw-single-select
                    v-if="salesChannelsToIframeUrl && salesChannelsToIframeUrl.length > 1"
                    class="releva-frame-releva-sales-channel-switch"
                    size="big" 
                    labelProperty="salesChannel"
                    valueProperty="iframeUrl"
                    @input="onSalesChannelsToIframeUrlSelectionChange"
                    :value="currentIframeUrl"
                    :options="salesChannelsToIframeUrl"
                    :placeholder="$tc('releva-retargeting.config.relevaSalesChannelSwitch.label')"
                ></sw-single-select>
            {% endblock %}
        </template>
        <template slot="content">
            {% block releva_retargeting_statistic_content %}
                <div v-if='currentIframeUrl' class="releva-frame-container">
                    <template>
                        <iframe v-bind:src="currentIframeUrl" class="releva-frame-frame"></iframe>
                    </template>
                </div>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
